In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.stats.proportion import proportion_effectsize
from statsmodels.stats.power import NormalIndPower, TTestIndPower
import pandas as pd
import seaborn as sns

In [44]:
# Definujte parametry testu
baseline_conversion_rate = 0.10 # Současná hodnota konverzního poměru (10%) podíl lidí, kteří přišli do nákupního košíku, ale dokončili nákup je 10%
desired_conversion_rate = 0.105 # Očekávaná hodnota po změně (10.5%) # chci, aby to bylo 10,5%
alpha = 0.05  # Hladina významnosti (5%)
power = 0.80  # Síla testu (80%)

# Výpořet velikost efektu (effekt size)
effect_size = proportion_effectsize(
    baseline_conversion_rate, desired_conversion_rate)

# Výpočet velikosti vzorku
# Když plánujete použít nepárový t-test a vaše data možná nejsou zcela normálně distribuovaná nebo máte relativně malý vzorek, je vhodné použít TTestIndPower.
# Naproti tomu NormalIndPower je vhodnější pro případy, kdy můžete předpokládat normálnost distribuce díky velkosti vzorku nebo když pracujete s parametry, které už jsou známy z minulých měření nebo literatury.
sample_size_per_group = NormalIndPower().solve_power(
    effect_size, power=power, alpha=alpha
)

# Celkový počet vzorků (A + B)
total_sample_size = int(sample_size_per_group * 2)

print(f"Potřebná velikost vzorku pro každou skupinu: {int(sample_size_per_group)}")

print(f"Celková potřebná velikost vzorku:{total_sample_size}")

Potřebná velikost vzorku pro každou skupinu: 57755
Celková potřebná velikost vzorku:115511

In [14]:
# Nastavení pro reprodukovatelnost
np.random.seed(0)
#Jednovýběrový t-test
#sample_data = np.random.normal(loc=5.0, scale = 1.0, size =30)


# Jednovýběrový t-test
sample_data = np.random.normal(loc=5.0, scale=1.0, size=30)
population_mean = 5.5
t_stat_one_sample, p_value_one_sample = stats.ttest_1samp(
    sample_data, population_mean)
print(f"Jednovýběrový t-test: t-stat = {t_stat_one_sample:.2f}, p-value = {p_value_one_sample:.5f}")
#t-stat - je-li větší než 2 nebo menší než 2
# - podívá se, jaký je rozptyl v A a rozptyl B a pak ty průměry 


# Dvojvýběrový t-test (nepárový)
group_A = np.random.normal(loc=5.0, scale=1.0, size=30)
group_B = np.random.normal(loc=6.0, scale=1.0, size=30)
t_stat_ind, p_value_ind = stats.ttest_ind(group_A, group_B)
print(f"Dvojvýběrový t-test (nepárový): t-stat = {t_stat_ind:.2f}, p-value = {p_value_ind:.5f}")

# Párový t-test
before_treatment = np.array([200, 195, 198, 205, 202]) # seznam těch vzorků před léčbou
after_treatment = np.array([180, 190, 185, 188, 183]) # po léčbě
t_stat_paired, p_value_paired = stats.ttest_rel( #t-test rel
    before_treatment, after_treatment)
print(f"Párový t-test: t-stat = {t_stat_paired:.2f}, p-value = {p_value_paired:.5f}")

Jednovýběrový t-test: t-stat = -0.28, p-value = 0.77809
Dvojvýběrový t-test (nepárový): t-stat = -4.76, p-value = 0.00001
Párový t-test: t-stat = 5.43, p-value = 0.00559

## Případová studie: Analýza vlivu diety na hladiny cholesterolu

Zdravotní výzkumníci chtějí zjistit, zda speciální dieta má významný vliv na hladiny cholesterolu u pacientů. Studie byla provedena na dvou skupinách pacientů:

1.	Experimentální skupina: Pacienti, kteří dodržovali speciální dietu.
2.	Kontrolní skupina: Pacienti, kteří nedodržovali žádnou dietu.

**Přínos studie**
Studie pomůže zjistit, zda speciální dieta může účinně snížit hladiny cholesterolu, což by mohlo vést k novým doporučením pro pacienty s vysokým cholesterolem a snížit riziko srdečních chorob.

**Data:**
- before_diet: Hladiny cholesterolu pacientů před začátkem diety.
- after_diet: Hladiny cholesterolu pacientů po skončení diety.
- control: Hladiny cholesterolu pacientů v kontrolní skupině, kteří nedodržovali žádnou dietu.

**Formulace hypotézy**

1.	Jednovýběrový t-test:
    - Nulová hypotéza (H₀): Průměrná hladina cholesterolu v kontrolní skupině je stejná jako populační průměr (190 mg/dl).
    - Alternativní hypotéza (H₁): Průměrná hladina cholesterolu v kontrolní skupině se liší od populačního průměru.
1.	Dvojvýběrový t-test (nepárový):
    - Nulová hypotéza (H₀): Průměrná hladina cholesterolu v experimentální skupině po dietě je stejná jako v kontrolní skupině.
    - Alternativní hypotéza (H₁): Průměrná hladina cholesterolu v experimentální skupině po dietě je nižší než v kontrolní skupině.
1.	Párový t-test:
    - Nulová hypotéza (H₀): Průměrná hladina cholesterolu před a po dietě je stejná.
    - Alternativní hypotéza (H₁): Průměrná hladina cholesterolu po dietě je nižší než před dietou.



**Délka testu**

Délka testu je stanovena na 3 měsíce, aby se zajistilo, že dieta má dostatek času na ovlivnění hladin cholesterolu.

**Způsob randomizace**

Pacienti byli náhodně rozděleni do experimentální a kontrolní skupiny pomocí jednoduché náhodné randomizace. Každý pacient měl stejnou pravděpodobnost být přiřazen do kterékoliv skupiny.

**Výpočet velikosti vzorku a MDE (Minimální detekovatelný efekt)**

Pro výpočet velikosti vzorku a MDE použijeme následující parametry:

- Power (síla testu): 0.8 (80%)
- Alfa (hladina významnosti): 0.05
- Standardní odchylka (σ): 30 (předpokládaná odchylka hladin cholesterolu)

Budeme předpokládat minimální detekovatelný efekt (MDE) ve výši 20 mg/dl.

In [15]:
# Kód pro výpočet velikosti vzorku

# Parametry pro výpočet velikosti vzorku
effect_size = 20 / 30  # MDE / σ
alpha = 0.05
power = 0.8

# Výpočet velikosti vzorku
analysis = TTestIndPower()
sample_size = analysis.solve_power(
    effect_size=effect_size, alpha=alpha, power=power, alternative="two-sided"
)
print(f"Velikost vzorku na skupinu: {int(np.ceil(sample_size))}")

Velikost vzorku na skupinu: 37

In [16]:
# Generování náhodných dat pro případovou studii
np.random.seed(0)
before_diet = np.random.normal(loc=200, scale=30, size=30)
after_diet = before_diet - np.random.normal(
    loc=20, scale=10, size=30
)  # Předpokládáme pokles po dietě
control = np.random.normal(loc=200, scale=30, size=30)

In [18]:
# 1. Párový t-test: Porovnání před a po dietě
t_stat_paired, p_value_paired = stats.ttest_rel(before_diet, after_diet)
print(f"Párový t-test: t-stat = {t_stat_paired:.2f}, p-value = {p_value_paired:.5f}")

# 2. Dvojvýběrový t-test (nepárový): Porovnání experimentální a kontrolní skupiny po dietě
t_stat_ind, p_value_ind = stats.ttest_ind(after_diet, control)
print(f"Dvojvýběrový t-test (nepárový): t-stat = {t_stat_ind:.2f}, p-value = {p_value_ind:.5f}")

# 3. Jednovýběrový t-test: Porovnání kontrolní skupiny s populačním průměrem (např. 190)
population_mean = 190
t_stat_one_sample, p_value_one_sample = stats.ttest_1samp(
    control, population_mean)
print(f"Jednovýběrový t-test: t-stat = {t_stat_one_sample:.2f}, p-value = {p_value_one_sample:.5f}")

Párový t-test: t-stat = 10.25, p-value = 0.00000
Dvojvýběrový t-test (nepárový): t-stat = 0.02, p-value = 0.98189
Jednovýběrový t-test: t-stat = 1.13, p-value = 0.26653

In [19]:
# cvičení

In [21]:
# Příprava dat
data = pd.read_csv("cookie_cats.csv")
data.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

In [23]:
data.describe()

             userid  sum_gamerounds
count  9.018900e+04    90189.000000
mean   4.998412e+06       51.872457
std    2.883286e+06      195.050858
min    1.160000e+02        0.000000
25%    2.512230e+06        5.000000
50%    4.995815e+06       16.000000
75%    7.496452e+06       51.000000
max    9.999861e+06    49854.000000

In [24]:
data.isnull().sum() #zjištění, kolik je tam nenulových hodnot

userid            0
version           0
sum_gamerounds    0
retention_1       0
retention_7       0
dtype: int64

In [25]:
data.duplicated().sum() #klik kdy

0

In [26]:
data.dropna()  # tím bychom smazalo
data.drop_duplicates() # tím by se smazaly duplicitní hodnoty

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

In [32]:
# Rozdělení dat
data["version"].describe()

count       90189
unique          2
top       gate_40
freq        45489
Name: version, dtype: object

In [35]:
group_30 = data[data["version"]=="gate_30"]
group_40 = data[data["version"]=="gate_40"]
group_40

        userid  version  sum_gamerounds  retention_1  retention_7
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
5          540  gate_40             187         True         True
7         1444  gate_40               2        False        False
...        ...      ...             ...          ...          ...
90181  9998733  gate_40              10         True        False
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[45489 rows x 5 columns]

In [43]:
# Statistická analýza
#H0 - není rozdíl mezi A a B
#H1 - Je rozdíl v míře retence mezi skupinou A a B
#Výpočet míry retence: Pro každou skupinu vypočítejte míru retence jako poměr počtu hráčů, kteří zůstali ve hře, ku celkovému počtu hráčů ve skupině.
#Provedení A/B testu: Použijte z-test nebo t-test k porovnání míry retence mezi oběma skupinami.

#retence = data["retention_1"]/data["retention_7"]

retention_rate_30=group_30["retention_7"].mean()
retention_rate_40=group_40["retention_7"].mean()
print(retention_rate_30)
print(retention_rate_40)

t_stat, p_value = stats.ttest_ind(group_30["retention_7"],group_40["retention_7"])
print(t_stat)
print(p_value)

0.19020134228187918
0.18200004396667327
3.1644994996802778
0.0015540151201088365

In [45]:
#Lepší je používat retention rate 30, protože ti zůstanou #19% zadržení, kdežto u 40 je jen 18% zadržení

In [7]:
import numpy as np


# Náhodně generovaná data kliknutí

np.random.seed(42)

clicks_A = np.random.poisson(lam=20, size=30)  # Kontrolní skupina

clicks_B = np.random.poisson(lam=23, size=30)  # Experimentální skupina

In [9]:
t_stat_ind, p_value_ind = stats.ttest_ind(clicks_A, clicks_B)
print(f"Dvojvýběrový t-test (nepárový): t-stat = {t_stat_ind:.5f}, p-value = {p_value_ind:.5f}")

Dvojvýběrový t-test (nepárový): t-stat = -3.30678, p-value = 0.00162